<div class="message-row">
  <div class="card border-secondary">
    <div class="card-header">
      <p class="message-body"><b><%= message.body %></b></p>
      <span class="green-chatbox-name">"<small><b><%= message.user.full_name %></b></small>"</span>
    </div>
  </div>
</div>
