<div class="container">
  <div class="col-12 mspace">
    <% @users.each do |user| %>
      <div class="card bg-light col-10 space">
        <div class="card-body row">
          <div class="col-9">
            <%= user.full_name %>
          </div>
          <div class="col-3">
            <% if current_user && !(current_user == user) %>
              <% if !(current_user.follows?(user)) %>
                <%= link_to "follow", friendships_path(friend_id: user.id), method: :post, class: "btn btn-success follow-button" %>
              <% else %>
                <%= link_to "unfollow", "#", class: "btn btn-danger follow-button" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
