<%= render "shared/title", title: "Edit Exercise", subtitle: "" %>
<%= render "form" %>
<div class="row col-12 xspace-top">
  <%= link_to "Back", user_exercises_path(current_user), class: "btn btn-success link" %>
</div>
